@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.5) 0%,
      rgba(17, 17, 17, 0.5) 100%
    ),
    url(https://s3-alpha-sig.figma.com/img/8d85/bb17/9d972fb25b5ad899dca00d131d9f310c?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FhXN6ihLSUkEWLMTdLLYrtolM-LGXORSrGG7j46V~OqhOXqKCtv5C6p6kfGbhsFcbAiRr~yUtuaO5va8N4FW7vedwbGBJVKxABuJKp3In35~Ok6JWiXmmc9vMoghm3PMHl1Iz3HStJbKePgnDophkhPGohJIunkg7AbvObX3CeuuIKi6Xtjj~lY6Iu1Lg~DUUIfz5~9lW4i-9GoEwRJxTSfvq-1NbhpMVk8bVcygZ8GPwc-oeT69YOX63BtrEJniTblh8SqJlwKS00wWl1OQ1DcQoo5NQMyN5IjJM2SMR5rtCgQzBedPAm6bN0E4F9n~tMJJdq6NGVlan1E7U3bsyA__)
      lightgray 0px -59.879px / 100% 191.952% no-repeat;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  background: linear-gradient(
      0deg,
      rgba(100, 65, 194, 0.9) 0%,
      rgba(100, 65, 194, 0.9) 100%
    ),
    url(https://s3-alpha-sig.figma.com/img/0592/3146/09f44ee352f5f246f0c7759f947b6808?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AyUWCQqZ0ocxju2vUjRIrQKi-xsUuAF4aTA01Z9PoIFW9gWMXs8cPcLFwVu6xb82TzXuurU41tgwiBGnuPmu3TWtjf7VLbgFkxDhzaym66~Uj-qH1QDE-KVy5TDl92V4X3ROiBG7X7Oetx5P5-nsQGyiycPEvkSwV0NFOD9FREgtvI0GbQszogLUj7GUxjb7PapQbYgaTqCWJYfGsR-W85CpzItZFSCmhGWuuep8jkO3p~EbLsmKKVUkUqwHfuiHvQjdd6SFLJEeczC4zu~z96f6sWpf9103UDj~8ClY80wWN9Qy7sdMsvJ~W0S5YYuajpX1O4TN5GJ~hEe~sSXY~Q__)
      lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 10px 0px rgba(159, 159, 159, 0.1);
  padding-top: 16px;
  padding-bottom: 16px;
}

::-webkit-scrollbar {
  display: none;
}
